@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1762832596358') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wenjianjia:before {
  content: "\e903";
}

.icon-zhankai:before {
  content: "\e98a";
}

.icon-shouqi:before {
  content: "\e98b";
}

.icon-xia:before {
  content: "\e9a2";
}

.icon-xiazai:before {
  content: "\e9a8";
}

.icon-shang:before {
  content: "\e9d5";
}

.icon-xia1:before {
  content: "\e9d6";
}

.icon-tishi1:before {
  content: "\ea22";
}

.icon-a-1:before {
  content: "\ea48";
}

.icon-a--:before {
  content: "\ea49";
}

.icon-chenggong3:before {
  content: "\ea7d";
}

.icon-bofang:before {
  content: "\e6ab";
}

.icon-fanhui:before {
  content: "\ea7e";
}

.icon-shangchuan:before {
  content: "\ea88";
}

.icon-shouye1:before {
  content: "\ea93";
}

.icon-shaixuan1:before {
  content: "\eaa7";
}

.icon-sousuo2:before {
  content: "\e607";
}

.icon-xinjianxinzeng:before {
  content: "\e612";
}

.icon-riqixuanzeqi:before {
  content: "\eae3";
}

.icon-xinjianziyuan:before {
  content: "\e6dd";
}

.icon-jiantou-you:before {
  content: "\eb16";
}

.icon-shang1:before {
  content: "\eb42";
}

.icon-ying:before {
  content: "\e6ff";
}

.icon-zhong:before {
  content: "\e700";
}

.icon-MCPmoban:before {
  content: "\e706";
}

.icon-daimaguanli:before {
  content: "\e704";
}

.icon-MCPshili:before {
  content: "\e703";
}

.icon-shense:before {
  content: "\e70a";
}

.icon-qianse:before {
  content: "\e709";
}

.icon-a-aixin_shixin:before {
  content: "\e6f6";
}

.icon-guanyu:before {
  content: "\e6f5";
}

.icon-shezhi:before {
  content: "\e6f4";
}

.icon-weixin:before {
  content: "\e6f2";
}

.icon-tuichudenglu:before {
  content: "\e6f3";
}

.icon-zip:before {
  content: "\e6f7";
}

.icon-huanjingguanli:before {
  content: "\e6f8";
}

.icon-shu_zhankai:before {
  content: "\e705";
}

.icon-shu_shouqi:before {
  content: "\e707";
}

.icon-wenjian:before {
  content: "\e6f9";
}

.icon-shangchuanyunduan:before {
  content: "\e6fa";
}

.icon-GitHub1:before {
  content: "\e602";
}

.icon-fankui:before {
  content: "\e604";
}

.icon-GitHub:before {
  content: "\e603";
}

.icon-icon-17:before {
  content: "\e628";
}

.icon-icon-68:before {
  content: "\e627";
}

